.auth-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.auth-title {
    animation: fade 5s infinite;
}

@keyframes fade {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}
