html {
    scroll-behavior: smooth;
}

a {
    color: #A0A0A0;
}

a:hover {
    color: #222222;
    cursor: pointer;
}

h1 {
    color: #222222
}

p {
    color: #A0A0A0;
}

.active {
    color: #222222;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222222;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper {
    position: relative;
}

.wrapper:hover .overlay {
    opacity: 0.75;
    cursor: pointer;
}