@font-face {
    font-family: "Moderat";
    src: local("Moderat"),
      url("./fonts/Moderat-Thin.ttf") format("truetype");
    font-weight: normal;
  }
  

html {
    font-family: Moderat;
    scroll-behavior: smooth;
    color: #000;
}

a {
    color: #000;
    opacity: 0.4;
    transition: opacity 1s;
}

a:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s;
}

h1 {
    color: #222222
}

img {
    box-shadow: 0 2px 10px 0 rgba(210,210,210,0.5);
    width: 100%;
}

p {
    opacity: 0.4;
}
  
.image {
    display: block;
    position:absolute;
    min-width:100%;
    min-height:100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222222;
}

.img-text {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper {
    position: relative;
    width:100%;
    padding-bottom:100%;
    overflow:hidden;
    background:#000
}

.wrapper:hover .overlay {
    opacity: 0.75;
    cursor: pointer;
}